body {
  padding-top: 5rem;
  background-color: lightgray;
  background-image: url(../img/sunset.jpg);
  background-size: 100%;
}
.header {
  background-color: black;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 10px;
}
h1#judul1{
  color: beige;
  text-align: center;
}
span#judul2{
  color: red;
  text-align: center;
}
h4#sub-judul {
  color: rgb(179, 177, 177);
  text-align: center;
}
.starter-template {
  margin-top: 10px;
  text-align: justify;
}
#logoBrand {
  width: 3.5%;
  margin-right: 10px;
}

/* Position text in the middle of the page/image */
.welcome {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border-style: dashed;
  border-color: #f1f1f1;
  border-width: thick;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 50px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: hidden;
  z-index: 0;
}
.welcome h1 {
  font-size: 60px;
}
.welcome p {
  color: rgb(255, 30, 0);
  font-size: 20px;
}
#wel {
  color: rgb(255, 255, 255);
}